<div ng-controller="AddEditServerCtrl as main">
  <form>
    <div class="form-group">
      <div class="input-group">
        <span class="input-group-addon">Name:</span>
        <input type="text" class="form-control" id="server-name" ng-model="main.server.name">
      </div>
    </div>
    <div class="form-group">
      <div class="input-group">
        <span class="input-group-addon">Url:</span>
        <input type="text" class="form-control" id="main.server-url" placeholder="http://0.0.0.0" ng-model="main.server.url">
      </div>
    </div>
    <div class="form-group">
      <div class="input-group">
        <span class="input-group-addon">Status:</span>
        <input type="text" class="form-control" id="main.server-status" placeholder="Offline/Online" ng-model="main.server.status">
        <span class="input-group-btn">
        <button class="btn btn-default" type="button" ng-click="main.checkAvailability()">
          <span ng-hide="main.loadingAvailability">Availability?</span>
        <i ng-show="main.loadingAvailability" class="icon-spinner icon-spin"></i>
        </button>
        </span>
      </div>
    </div>
    <div class="form-group">
      <div class="input-group">
        <span class="input-group-addon">
        <input type="checkbox" ng-change="main.changeHealthcheck()" ng-model="main.server.hasHealthcheck">
      </span>
        <input type="text" class="form-control" placeholder="/healthcheck" ng-model="main.server.healthcheckPath">
        <span class="input-group-btn" ng-show="main.healthcheckUrl()">
        <button class="btn btn-default live-healthcheck" type="button" ng-click="main.runHealthcheck()">
          <span ng-hide="main.loadingHealthcheck" class="glyphicon glyphicon-heart{{ main.server.notHealthy ? '-empty': '' }}">
            <input type="checkbox" hidden ng-model="main.server.notHealthy">
          </span>
        <i ng-show="main.loadingHealthcheck" class="icon-spinner icon-spin"></i>
        </button>
        </span>
      </div>
    </div>
  </form>
  <div class="form-actions">
    <button ng-click="main.save()" class="btn btn-default">
      {{ main.action }}
    </button>
    <button class="btn btn-default">
      <a ng-href="#/servers">
    Cancel
    </a>
    </button>
  </div>
  <healthcheck-details></healthcheck-details>
</div>
