<form>
  <div class="form-group">
    <div class="input-group">
      <span class="input-group-addon">Name:</span>
      <input type="text" class="form-control" id="server-name" ng-model="server.name" >
    </div>
  </div>
  <div class="form-group">
    <div class="input-group">
      <span class="input-group-addon">Url:</span>
      <input type="text" class="form-control" id="server-url" placeholder="http://0.0.0.0" ng-model="server.url" >
    </div>
  </div>
  <div class="form-group">
    <div class="input-group">
      <span class="input-group-addon">Status:</span>
      <input type="text" class="form-control" id="server-status" placeholder="Offline/Online" ng-model="server.status" >
      <span class="input-group-btn">
        <button class="btn btn-default" type="button" ng-click="checkAvailability()">
          <span ng-hide="loadingAvailability">Availability?</span>
          <i ng-show="loadingAvailability" class="icon-spinner icon-spin"></i>
        </button>
      </span>
    </div>
  </div>
  <div class="form-group">
    <div class="input-group">
      <span class="input-group-addon">
        <input type="checkbox" ng-change="changeHealthcheck()" ng-model="server.hasHealthcheck">
      </span>
      <input type="text" class="form-control" placeholder="/healthcheck" ng-model="server.healthcheckPath" >
      <span class="input-group-btn" ng-show="healthcheckUrl()">
        <button class="btn btn-default live-healthcheck" type="button" ng-click="healthcheck()">
          <!-- <span ng-hide="loadingHealthcheck">Healthcheck?</span> -->
          <span ng-hide="loadingHealthcheck" class="glyphicon glyphicon-heart{{ server.notHealthy ? '-empty': '' }}">
            <input type="checkbox" hidden ng-model="server.notHealthy">
          </span>
          <i ng-show="loadingHealthcheck" class="icon-spinner icon-spin"></i>
        </button>
      </span>
    </div>
  </div>
</form>
<div class="form-actions">
  <button ng-click="save()" class="btn btn-default">
    {{action}}
  </button>
  <button class="btn btn-default">
    <a ng-href="#/servers">
    Cancel
    </a>
  </button>
</div>
<healthcheck-details></healthcheck-details>